.movie-detail {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 999999;
  width: 1100px;
  padding: 40px;
  border-radius: 10px;
  visibility: hidden;
  transform: translate(-50%, -50%);
  background-color: rgba(29, 29, 32, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.movie-detail.is-active {
  opacity: 1;
  visibility: visible;
}

.poster {
  flex: 4;
  width: auto;
  min-height: 500px;
  background-image: url('');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.movie-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 6;
}

.movie-detail-info dt {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.movie-detail-info dd {
  font-size: 20px;
}

.movie-detail-info .title {
  width: calc(100% - 30px);
  font-weight: 700;
  margin-bottom: 18px;
}

.movie-detail-info .title dd {
  font-size: 50px;
}

.movie-detail-info .genre {
  margin-bottom: 30px;
}

.movie-detail-info .overview {
  overflow: hidden;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.movie-detail-info .movie-meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.movie-detail-info .bookmark dd button {
  cursor: pointer;
}

.movie-detail-info .bookmark dd button:hover {
  background-color: rgb(238, 146, 7);
}

.movie-detail-info .bookmark .btn-remove-bookmark {
  display: none;
  font-size: 20px;
}

.movie-detail-info .title dt,
.movie-detail-info .genre dt,
.movie-detail-info .bookmark dt {
  display: none;
}

/* close button */
.btn-close {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.btn-close::before,
.btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: background-color 200ms ease-in-out;
}

.btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-close:hover::before,
.btn-close:hover::after {
  background-color: #a8b3ad;
}

/* <= 1257px */
@media screen and (max-width: 1257px) {
  .movie-detail {
    width: 800px;
    padding: 40px;
  }

  .poster {
    margin-right: 30px;
  }

  .movie-detail-info .title dd {
    font-size: 40px;
  }

  .movie-detail-info dt {
    font-size: 25px;
  }

  .movie-detail-info dd {
    font-size: 18px;
  }
}

/* <= 995px */
@media screen and (max-width: 995px) {
  .movie-detail {
    width: 600px;
  }

  .poster {
    display: none;
  }

  .movie-detail-info dt {
    font-size: 20px;
  }

  .movie-detail-info .title {
    margin-bottom: 10px;
  }
}

/* <= 630px */
@media screen and (max-width: 630px) {
  .movie-detail {
    width: 300px;
    padding: 30px;
  }

  .movie-detail-info .title dd {
    font-size: 24px;
  }

  .movie-detail-info .rating dt,
  .movie-detail-info .rating dd {
    display: none;
  }

  .btn-close {
    top: 20px;
    right: 10px;
  }
}
