.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-image: url(https://img.freepik.com/free-photo/arrangement-cinema-objects-close-up_23-2148457829.jpg?t=st=1729094640~exp=1729098240~hmac=9f8d79dd3c72dcbf743982971d9b77954c7f9a3d0e14e0f7df94d590ec1a90b8&w=1380);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.overlay.is-active {
  opacity: 1;
  visibility: visible;
}
